/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#140978, #2370ff, #0b0978);
  border-radius: 10px;
}

a {
  text-decoration: none;
  width: 100%;
}

#profile {
  width: inherit;
  height: auto;
  box-shadow: 10px 15px 20px #1495ff;
  border-radius: 50%;
}

@media (max-width: 600px) {
  a {
    width: 50%;
  }

  #profile {
    box-shadow: 8px 10px 15px #1495ff;
  }
}
